pytest
icdiff
pytest-cov
pytest-icdiff
coloredlogs==9.2

graphviz==0.8.3
ipython==7.2.0
jupyterlab
keras
matplotlib
nltk==3.4
numpy==1.14.4
opencv-python==3.4.0.12
pandas==0.22.0
pyarrow==0.10.0
pydot==1.2.4
Pygments==2.2.0
pysqlite3
scikit-learn==0.20.2
scipy==1.0.1
spacy
SQLAlchemy==1.3.3
tables
tensorflow-gpu==1.9.0 #This depends on version of CuDNN library installed (1.9 coresponds to CuDNN 7.0.5)
tqdm==4.29.1
typing==3.6.6

#dask = {extras = [dataframe],version}